.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.logoWrapper {
  padding: 20px;
}

.teamName {
  font-weight: bold;
  color: #333;
  padding: 10px 0;
  text-decoration: noc;
}
